.cover__title {
  position: relative;
  padding-top: 20%;
  text-align: center;
  width: 560px;
  font-size: 72px;
  line-height: 1.06;
  font-weight: bold;
  margin: 0;
  color: #fff;

}
@media (max-width: 1279px) {
  .cover__title {
    padding-top: 19%;
  }
}

@media (max-width: 1023px) {
  .cover__title {
    padding-top: 15%;
  }
}


@media (max-width: 767px) {
  .cover__title {
    padding-top: 10.5%;
    width: 348px;
    font-size: 48px;
  }
}

@media (max-width: 424px) {
  .cover__title {
    width: 248px;
    font-size: 32px;
    line-height: 1.09;
  }
}